:root {
    --dark-bg-filter: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.top-right-background .center-background {
    background-size: cover !important;
}

.top-right-background {
    background-position: top right !important;
}

.center-background {
    background-position: center !important;
}

.rounded-1_5rem {
    border-radius: 1.5rem;
}

#top-view {
    background-image: var(--dark-bg-filter), url("imgs/bg-top.webp");
}

#about-social-loafing {
    background-image: var(--dark-bg-filter), url("imgs/about-social-loafing.jpg")
}
